# Ignore node_modules directory, since dependencies are installed inside the Docker container
node_modules

# Ignore local environment variables file
.env

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore test files and coverage reports
coverage
*.test.js
*.spec.js

# Ignore IDE or editor specific files
.vscode/
.idea/
*.swp

# Ignore build artifacts
dist/
build/
